


/* OLD */
.landing-title img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.landing-title .img-wrapper {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #92FE9D, #00C9FF);
    transition: 0.7s all;
}

.landing-title h1 {
    font-family: 'Railway', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #444;
    transition: 0.7s all;
}

.landing-title hr {
    height: 4px;
    width: 60%;
    border-radius: 5px;
    outline: none;
    border: none;
    margin: 0px;
    background: linear-gradient(to right, #92FE9D, #00C9FF);
    transition: 0.7s all;
    
}

.landing-title small {
    font-family: 'Railway', sans-serif;
    margin-top: 1rem;
    color: #777;
    transition: 0.7s all;
}

.sidebar {
    width: 30%;
    height: 100%;
    background: rgb(41, 50, 65, 1);
    border-top-right-radius: 10px;
}

.terminal {
    width: calc(100% - 2rem);
    height: calc(100% - 4rem);
    margin: 2rem 1rem;
    margin-top: 1rem;
}
.line {
    color: white;
    font-family: 'Nunito', sans-serif;
    width: 100%;
}
.highlight {
    background: linear-gradient(to right, #92FE9D, #00C9FF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 1rem;
}

.terminal .output {
    width: 100%;
    height: 100%;
}

.hidden {
    opacity: 0;
}

.topbar {
    width: 100%;
    height: 1rem;
}

/* Cards */

.card {
    width: 400px;
    height: 200px;
    background: white;
    border-radius: 10px;
    margin: 1rem;
}
/* Mobile tweeks */
@media only screen and (max-width: 768px) {
    .landing {
        height: 100vh;
        flex-direction: column-reverse;
    }

    .landing-title {
        width: 100%;
        height: 80%;
        justify-content: center;
        margin: 0px;
    }
    .sidebar {
        width: 100%;
        height: 20%;
        background: rgb(41, 50, 65, 1);
        border-radius: 10px;
        margin: 0px;
    }
    .terminal {
        height: calc(100% - 2rem);
        margin: 1rem 1rem;
        margin-top: 0rem;
    }
    .terminal .output {
        height: 100%;
        max-height: 100%;
        overflow: scroll;
    }
}

