/* https://codepen.io/sdthornton/pen/wBZdXq */
.elevation-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.elevation-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.elevation-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.elevation-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.elevation-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

body {
    background: rgba(0,0,0,0.02);
    margin: 0px;
    padding: 0px;
}

.landing {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.landing-title {
    width: 70%;
    height: calc(100% - 8rem);
    margin: 4rem 0rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.landing-title img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.landing-title .img-wrapper {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #92FE9D, #00C9FF);
    transition: 0.7s all;
}

.landing-title h1 {
    font-family: 'Railway', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #444;
    transition: 0.7s all;
}

.landing-title hr {
    height: 4px;
    width: 60%;
    border-radius: 5px;
    outline: none;
    border: none;
    margin: 0px;
    background: linear-gradient(to right, #92FE9D, #00C9FF);
    transition: 0.7s all;
    
}

.landing-title small {
    font-family: 'Railway', sans-serif;
    margin-top: 1rem;
    color: #777;
    transition: 0.7s all;
}

.sidebar {
    width: 30%;
    height: 100%;
    background: rgb(41, 50, 65, 1);
    border-radius: 10px;
    margin-left: -15px;
}

.terminal {
    width: calc(100% - 2rem);
    height: calc(100% - 4rem);
    margin: 2rem 1rem;
}
.line {
    color: white;
    font-family: 'Nunito', sans-serif;
    width: 100%;
}
.highlight {
    background: linear-gradient(to bottom, #92FE9D, #00C9FF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 1rem;
}
.terminal .output {
    width: 100%;
    height: 100%;
}
.terminal .input {
    height: 10%;
    background: #444;
}
.hidden {
    opacity: 0;
}

@media only screen and (max-width: 768px) {
    .landing {
        height: 100vh;
        flex-direction: column-reverse;
    }

    .landing-title {
        width: 100%;
        height: 80%;
        justify-content: center;
        margin: 0px;
    }
    .sidebar {
        width: 100%;
        height: 20%;
        background: rgb(41, 50, 65, 1);
        border-radius: 10px;
        margin: 0px;
    }
    .terminal {
        height: calc(100% - 2rem);
        margin: 1rem 1rem;
    }
    .terminal .output {
        height: 100%;
        max-height: 100%;
        overflow: scroll;
    }
}
